ENCODING=your-token-here
UPLOAD_TOKEN=your_token_here
POSTGRES_DSN=postgresql://birdhouse:birdhouse@localhost:5432/birdhouse
POSTGRES_TABLE=influx_points
POSTGRES_BUCKET=voegeli
POSTGRES_AUTO_CREATE=true
POSTGRES_CONNECT_TIMEOUT=5
STREAM_URL=http://localhost:8889/cam
WEBSOCKET_URL=ws://localhost:8000/ws
NEWSLETTER_BASE_URL=https://linusleo.synology.me
GRAFANA_BASE_URL=https://locahost:9001
GRAFANA_DASHBOARD=adv7pb5/voegeli
GRAFANA_DASHBOARD_NERDS=your-other-dashboard
TCP_SERVER_ADDR=localhost:65432
TCP_ENCRYPTION_KEY=your-tcp-encryption-key-here
CLIENT_ID=your-client-id-for-srf-meteo
CLIENT_SECRET=your-client-secret-for-srf-meteo
ADMIN_WEBAUTHN_ORIGIN=http://localhost:<port>
ADMIN_WEBAUTHN_PORT=port
ADMIN_WEBAUTHN_RP_ID=localhost
